*{
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    margin: 0 auto;
    width: 80%;
    height: 332px;
}
form{
    height: 100%;
}
.nav_left{
    margin-bottom: 20px;
}
.seaeachresult{
    border: 1px solid #D3D4D3;
    padding: 20px 0 20px 20px;
    height: 800px;
    text-align: center;
}
.item {
    float: left;
    width: 200px;
    margin: 10px 20px 30px 20px;
    padding: 20px 30px;
    text-align: center;
    /*border: 1px solid #D3D4D3;*/
    /*background-color: #f0e8e8;*/
    height: 200px;
}
.item a{
    color: #0000FF;
}
/*    下半部分*/
.info{
    padding: 50px 20px;
}
.info .title{
    width: 158px;
    height: 34px;
    overflow: hidden;
    color: #000;
    margin-top: 5px;
}
.shopNick{
    border: 1px solid red;
    color: #f95b27;
    margin-left: 30px;
}
.footer{
    text-align: center;
}
.pages{
    margin-top: 20px;
    margin-left: 20px;
    line-height: 30px;
    text-align: center;
    width: 100px;
    color: #eeeeee;
    border: 0;
    cursor: pointer;
}
.pages a{
    text-decoration: none;
}
.pages:hover{
    background-color: #f29ada;
    color: #aa6798;
}
.downs,.isCannel,.resetPwd{
    border: 0;
    background-color: #884e78;
    height: 30px;
    width: 100px;
    color: #eeeeee;
    cursor: pointer;
}
.downs:hover,.isCannel:hover,resetPwd:hover{
    background-color: #f29ada;
    color: #7e376e;
}
.zero{
    margin-left: 15px;
    text-decoration: none;
}


.black_overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=88);
}
.white_content {
    display: none;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    padding: 20px;
    border: 10px solid orange;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}
